@import url('https://fonts.googleapis.com/css2?family=Robotowght@1,300&display=swap');
body{
    background: #FCD7B5;
}
h1.Title{
    color: #FA9F18;
    font-size: 64px;
    letter-spacing: 20%;
    text-align: center;
    line-height: 89.6px;
    font-family: 'Roboto';
}
label.label{
    font-size: 24px;
    font-weight: 400;
    color: black;
    font-style: normal;
}

 

input.button{
    background-color: #6922DC;
}