 
#hero{
    background-color: indigo;
    background-position-x:center ;

    background-size: cover;
}
#hero .navbar-is-transparent{
    background-color: transparent;

}



.navbar{

    background-color: transparent;
    background-image: none;
}


.service-button{
    justify-content: center !important;
}

.logos::before{
    content: ''; 
    position: absolute;
    width: 50%;
    left: 25;
    top: 0;
    border-top: 1px solid #ebebeb;
}
#contact{
    background: url();
    background-size: cover;
}
@media screen and (max-width:1023px) {
    .navbar-menu a.has-text-white{
        color: #4a4a4a !important;
    }
    .navbar-menu a.has-text-white:hover{
color: #3274e3!important;
    }
}